@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--main-color-one: #f80759;
	--main-color-two: #021B79;
	--secondary-color: #006aec;
	--heading-color: #111111;
	--paragraph-color: #5f7586;
	--heading-font: "Poppins", sans-serif;
	--body-font: "Poppins", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--body-font);
	box-sizing: border-box;
	list-style: none;
	text-decoration: none !important;
}

.navbar-toggler{
	background-color: rgb(218, 214, 214);	
}

.navbar-container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/blog-images/07.jpg);
	min-height: 300px;
	background-size: cover;
	background-position: center;

	.blog-header {
		h1 {
			color: white;
			font-size: 30px;
			font-weight: bold;
		}
	}

}

.nav-item {
	margin-top: 20px;

	.nav-link {
		color: white;
	}
}


// Content Section

#contentContainer{
	#cardBox{
		.card{
			border: none;
			background-color:#f7f1f1;
			border-bottom: 1px solid var(--main-color-two);
			border-radius: 0;
			position: relative;
			margin-bottom: 35px;
			.arrowContainer{
				width: 50px;
				height: 50px;
				background-color: #FFFFFF;
				border-radius: 50%;
				position: absolute;
				left: 50%;
				z-index: 99;
				transform: translateX(-50%);
				bottom: -25px;
				transition: all .5s;
				&:hover {
					background-color: var(--main-color-one);
					color: #fff;
				}
				&:hover svg{
					color: #fff;
				}
				svg{
					color: var(--main-color-one);
					transition: all .5s;
				}
			}
			.card-body{
				padding-bottom: 50px;
				h5{
					color: var(--main-color-two);
					font-weight: bold;
					cursor: pointer;
				}
				a{
					color: black;
					font-weight: bold;
					&:hover{
						color: var(--main-color-one);
					}
				}
				div{
					a{
						color: var(--main-color-two);
						.seperator{
							height: 1px;
							width: 10px;
							color: var(--main-color-one);
						}
					}
					svg{
						color: var(--main-color-two);
					}
				}
			}
		}
	}
}