@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-color-one: #f80759;
  --main-color-two: #021b79;
  --secondary-color: #006aec;
  --heading-color: #111111;
  --paragraph-color: #5f7586;
  --heading-font: "Poppins", sans-serif;
  --body-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

.navbar-toggler {
  background-color: rgb(218, 214, 214);
}

.navbar-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hakkimda.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: center;
}

.navbar-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hizmetler.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: center;
}

.navbar-blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/blog.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: top;
}

.navbar-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/iletisim.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: bottom;
}

.navbar-container .blog-header h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 992px) {
  #navbarSupportedContent ul {
    gap: 0 !important;
  }
}
#contentContainer #cardBox .card {
  border: none;
  background-color: #f7f1f1;
  border-bottom: 1px solid var(--main-color-two);
  border-radius: 0;
  position: relative;
  margin-bottom: 35px;
}
#contentContainer #cardBox .card .arrowContainer {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  bottom: -25px;
  transition: all 0.5s;
}
#contentContainer #cardBox .card .arrowContainer:hover {
  background-color: var(--main-color-one);
  color: #fff;
}
#contentContainer #cardBox .card .arrowContainer:hover svg {
  color: #fff;
}
#contentContainer #cardBox .card .arrowContainer svg {
  color: var(--main-color-one);
  transition: all 0.5s;
}
#contentContainer #cardBox .card .card-body {
  padding-bottom: 50px;
}
#contentContainer #cardBox .card .card-body h5 {
  color: var(--main-color-two);
  font-weight: bold;
  cursor: pointer;
}
#contentContainer #cardBox .card .card-body a {
  color: black;
  font-weight: bold;
}
#contentContainer #cardBox .card .card-body a:hover {
  color: var(--main-color-one);
}
#contentContainer #cardBox .card .card-body div a {
  color: var(--main-color-two);
}
#contentContainer #cardBox .card .card-body div a .seperator {
  color: var(--main-color-one);
}
#contentContainer #cardBox .card .card-body div svg {
  color: var(--main-color-two);
}

.pagination-container nav ul li a {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: var(--main-color-two);
  color: #fff;
  margin: 0 1px;
  transition: all linear 0.3s;
}
.pagination-container nav ul li a:hover {
  background-color: var(--main-color-one);
  color: #fff;
}/*# sourceMappingURL=blog.css.map */